# -------------------------------------------------------#
# List of dependencies for Gun Detection YOLOv12 project #
# -------------------------------------------------------#

#=============================================#
# Python version: 3.12.0 / Cuda version: 13.0 #
#=============================================#

# Core dependencies from the script
numpy==1.26.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
ultralytics==8.3.208  
codecarbon==3.0.7

# Polars (Critical dependency for Ultralytics)
polars==1.34.0

# Typical dependencies needed for Ultralytics/PyTorch training and logging
tqdm                  # For progress bars
pandas==2.3.3             # Often indirectly required
matplotlib==3.10.7     # For plotting training results
pyyaml              # For YAML file handling
scipy           # For scientific computations

# Dependencies needed for analysis
seaborn         # For enhanced plotting